html, body {
  padding: 0;
  margin: 0;
  line-height: 24px;
}

body {
  margin: 8px;
  font-family: Verdana, Geneva, sans-serif;
}

ul {
  display: flex;
  align-items: center;
  font-size: 11px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;

  &:nth-child(2n) {
    background-color: #e5e5e2;
  }

  li {
    list-style-type: none;
    padding: 0 10px;
  }
}

.feeds {
  background: #f6f6ef;

  li {
    &:nth-child(1), &:nth-child(2) {
      width: 60px;
      text-align: right;
    }

    &:last-child {
      width: calc(100% - 185px);

      span {
        padding: 0 2px;
      }
    }
  }

  .title {
    font-weight: 600;
    word-break: break-word;

    &.more {
      color: #ff6600;
      padding: 8px;
      cursor: pointer;
    }
  }

  .up-score {
    p {
      display: flex;
      margin: 0;

      @media all and (min-width: 768px) {
        justify-content: flex-end;
      }
    }

    span {
      width: 15px;
      overflow: hidden;
      text-indent: 100000px;
      margin: 0 5px;
      position: relative;
      
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 2px;
        border-left: 6px solid transparent;
        border-top: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 8px solid grey;
        cursor: pointer;
      }
    }
  }

  .disabled {
    pointer-events: none;
    color: #ff6600;
  }
}

.feeds-wrapper {
  max-width: 85%;
  margin: auto;
}

.header {
  background: #ff6600;
  margin: 0;
  font-size: 12px;
  padding: 5px 0;

  li {
    &:nth-child(2) {
      border-right: 1px solid #000;
      margin: 6px;
      line-height: 12px;
      padding: 0 10px;
    }

  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px;
  }
  
  img {
    border: 1px white solid;
  }
}

.grey {
  color: #828282;

  a {
    text-decoration: none;
    color: inherit;
  }
}

@media all and (max-width: 767px) {
  .feeds {
    ul {
      li {
        text-align: left;

        &:nth-child(3) {
          order: 1;
          width: 100%;
        }
        
        &:nth-child(2) {
          order: 2;
        }
        
        &:nth-child(1) {
          order: 3;
          text-align: left;
        }
      }
    }
  }
}